services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: web
    ports:
      - "${PORT:-3000}:3000"
  web-nginx:
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    ports:
      - 127.0.0.3:63999:80
    restart: unless-stopped
