name: Build and Deploy Dev

env:
  SERVER_USER: 'w3reg'
  SERVER_IP: '135.181.202.179'
  DEPLOY_PATH: '/home/w3reg/dev.w3reg.org'
  BUILD_TARGET: 'production'
  NGINX_HOST: '127.0.0.1'

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Nix
        uses: cachix/install-nix-action@v30 
        with:
          nix_path: nixpkgs=channel:nixos-stable

      - name: Build the Vite app
        run: |
          cat .env.example | grep -v "#" > .env
          nix-shell --command "bash scripts/build.sh"

      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add SSH Key to Known Hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -t ed25519 ${{ env.SERVER_IP }} >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts

      - name: Deploy to server
        run: |
          set -euo pipefail
          ssh ${{ env.SERVER_USER }}@${{ env.SERVER_IP }} << EOF
            set -euo pipefail
            rm -fr ${{ env.DEPLOY_PATH }}/nginx || true
            rm -fr ${{ env.DEPLOY_PATH }}/dist || true
            mkdir -p ${{ env.DEPLOY_PATH }}
          EOF
          scp -r ./nginx ${{ env.SERVER_USER }}@${{ env.SERVER_IP }}:${{ env.DEPLOY_PATH }}
          scp -r ./dist ${{ env.SERVER_USER }}@${{ env.SERVER_IP }}:${{ env.DEPLOY_PATH }}
          scp docker-compose.yaml ${{ env.SERVER_USER }}@${{ env.SERVER_IP }}:${{ env.DEPLOY_PATH }}
          ssh ${{ env.SERVER_USER }}@${{ env.SERVER_IP }} << EOF
            set -euo pipefail
            cd ${{ env.DEPLOY_PATH }}
            NGINX_HOST=${{ env.NGINX_HOST }} docker compose up --build -d web-nginx
          EOF
