name: Deploy app

env:
  SERVER_USER: 'w3reg'
  SERVER_IP: '135.181.202.179'
  DEPLOY_PATH: '/home/w3reg/app.w3reg.org'
  BACKUP_PATH: '/home/w3reg/backups'
  STAGING_PATH: '/home/w3reg/staging.w3reg.org'
  NGINX_HOST: '127.0.0.3'

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add SSH Key to Known Hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -t ed25519 ${{ env.SERVER_IP }} >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts

      - name: Deploy using rsync with backup
        run: |
          ssh ${{ env.SERVER_USER }}@${{ env.SERVER_IP }} << EOF
            set -euo pipefail
            TIMESTAMP=\$(date +%Y%m%d%H%M%S)
            mkdir -p ${{ env.BACKUP_PATH }}
            if [ -d "${{ env.DEPLOY_PATH }}" ]; then
              mv ${{ env.DEPLOY_PATH }}/${{ env.BACKUP_PATH }}/w3registrar-www-\$TIMESTAMP
            fi
            cp -r ${{ env.STAGING_PATH }} ${{ env.DEPLOY_PATH }}
            cd ${{ env.DEPLOY_PATH }}
            NGINX_HOST=${{ env.NGINX_HOST }} docker compose up --build -d web-nginx
          EOF
